{%- style -%}
  #shopify-section-{{ section.id }} {
    position: relative;
    --padding-top: {{ section.settings.padding_top }}px;
    --padding-bottom: {{ section.settings.padding_bottom }}px;

    {%- if section.settings.border_top -%}
      /* border-top: 1px solid #CCC; */
    {%- endif -%}
  }

  @media screen and (max-width:768px){
    .ui-cart-feature-container{
      padding-bottom: 50px !important;
      padding-top: 30px !important;
    }
  }

  {% if section.settings.border_bottom %}
    #shopify-section-{{ section.id }}::after {
      content: '';
      display: block;
      width: 100%;
      max-width: 700px;
      height: 0px;
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      @media (max-width: 768px) {
        max-width: calc(100% - 3rem);
      }
    }
  {% endif %}

  @media (max-width: 768px) {
    #shopify-section-{{ section.id }} {
      --padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
      --padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
    }
  }
{%- endstyle -%}

<div class="container">
  <div class="page-width">
    <div class="swiper">
      <div class="es-featured-collection__title-wrapper">
        <h2 class="es-font-h2 center ui-font-h2-fix">{{ section.settings.title }}</h2>
        <div class="es-featured-collection__navigation small-hide">
          <div class="swiper-button-prev es-swiper-button">
            {%- render 'es-icon-arrow-right' -%}
          </div>
          <div class="swiper-button-next es-swiper-button">
            {%- render 'es-icon-arrow-right' -%}
          </div>
        </div>
      </div>
      <div class="esSwiper">
        <div class="swiper-wrapper">
          {%- assign skip_card_product_styles = false -%}
          {%- for block in section.blocks -%}
            {%- assign product = block.settings.product -%}
            {%- if product != blank -%}
              <div class="swiper-slide ui-custom-slide-bottom">
                {%- if block.settings.custom_image != blank -%}
                  <div class="es-featured-blocks__item">
                    <div class="es-featured-blocks__item-image">
                      <a class="link" href="{{ product.url }}">
                        <img
                          src="{{ block.settings.custom_image | image_url: width: 1000 }}"
                          alt="{{ product.title }}"
                          width="{{ block.settings.custom_image.width | divided_by: 2 }}"
                          height="{{ block.settings.custom_image.height | divided_by: 2 }}"
                        >
                      </a>
                    </div>
                    <div class="es-featured-blocks__item-title">
                      <a class="link" href="{{ product.url }}">{{ product.title }}</a>
                      <div>{{ product.price | money }}</div>
                    </div>
                  </div>
                {%- else -%}
                  {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    image_shape: section.settings.image_shape,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    skip_styles: skip_card_product_styles,
                    section_id: section.id,
                    quick_add: section.settings.quick_add,
                    show_redunderline: section.settings.show_redunderline,
                    show_undertext: section.settings.show_undertext
                  %}
                {%- endif -%}
              </div>
              {%- assign skip_card_product_styles = true -%}
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Swiper('#shopify-section-{{ section.id }} .esSwiper', {
      slidesPerView: 4,
      spaceBetween: 20,
      navigation: {
        nextEl: '#shopify-section-{{ section.id }} .swiper-button-next',
        prevEl: '#shopify-section-{{ section.id }} .swiper-button-prev',
      },
      breakpoints: {
        1024: {
          slidesPerView: 4,
        },
        768: {
          slidesPerView: 3,
        },
        320: {
          slidesPerView: 2.5,
          spaceBetween: 10,
        },
      },
    });
  });

  if (window.Shopify && Shopify.designMode) {
    document.addEventListener('shopify:section:load', function(e) {
      if (e.detail.sectionId === '{{ section.id }}') {
        new Swiper('#shopify-section-{{ section.id }} .esSwiper', {
          slidesPerView: 4,
          spaceBetween: 20,
          navigation: {
            nextEl: '#shopify-section-{{ section.id }} .swiper-button-next',
            prevEl: '#shopify-section-{{ section.id }} .swiper-button-prev',
          },
          breakpoints: {
            1024: { slidesPerView: 4 },
            768: { slidesPerView: 3 },
            320: { slidesPerView: 2.5, spaceBetween: 10 },
          },
        });
      }
    });
  }
</script>

{%- schema -%}
{
  "name": "ES Featured Products",
  "tag": "section",
  "class": "section es-featured-collection ui-cart-feature-container",
  "settings": [
    {
      "type": "checkbox",
      "id": "border_top",
      "label": "Border Top",
      "default": false
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title",
      "default": "Featured Products"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "rectangle",
          "label": "Rectangle"
        }
      ],
      "default": "adapt",
      "label": "Image ratio"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "arch",
          "label": "Arch"
        },
        {
          "value": "blob",
          "label": "Blob"
        },
        {
          "value": "chevronleft",
          "label": "Chevron Left"
        },
        {
          "value": "chevronright",
          "label": "Chevron Right"
        },
        {
          "value": "diamond",
          "label": "Diamond"
        },
        {
          "value": "parallelogram",
          "label": "Parallelogram"
        },
        {
          "value": "round",
          "label": "Round"
        }
      ],
      "default": "default",
      "label": "Image shape"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "Show secondary image on hover"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "Show rating"
    },
    {
      "type": "checkbox",
      "id": "show_redunderline",
      "default": true,
      "label": "Show underline"
    },
    {
      "type": "checkbox",
      "id": "show_undertext",
      "default": true,
      "label": "Show undertext"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "Quick add",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "bulk",
          "label": "Bulk"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "border_bottom",
      "default": true,
      "label": "Border Bottom"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Custom Image (optional)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "ES Featured Products"
    }
  ]
}
{%- endschema -%}