{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  id="{{ section.settings.custom_id }}"
  class="color-{{ section.settings.color_scheme }} gradient{% if section.settings.tab_section %} tab-section{% endif %}{% if section.settings.hide_section %} hidden{% endif %}"
>
  <div class="{% if section.settings.layout == 'row' %}page-width--small{% elsif section.settings.layout == 'section' %} page-width{% elsif section.settings.layout == 'none' %} content-container content-container--full-width{% endif %}">
    <div class="section-{{ section.id }}-padding{% if section.settings.layout == 'section' %} content-container color-{{ section.settings.container_color_scheme }} gradient{% endif %}">
      <aside>
        <ul class="small-hide">
          {%- for block in section.blocks -%}
            <li>
              <label>
                <input type="radio" name="galleryCategory" value="#ClipArt--{{ block.id }}" {% if forloop.first %} checked{% endif %}> <span>{{ block.settings.heading }}</span>
              </label>
            </li>
          {%- endfor -%}
        </ul>
        <select name="galleryCategory" class="medium-hide large-up-hide">
          {%- for block in section.blocks -%}
            <option value="#ClipArt--{{ block.id }}">{{ block.settings.heading }}</option>
          {%- endfor -%}
        </select>
      </aside>

      <div class="library--container">
        {%- for block in section.blocks -%}
          {%- if block.settings.metaobject != blank -%}
            <div id="ClipArt--{{ block.id }}" class="library--item{% unless forloop.first %} hidden{% endunless %}">
              <div class="library--description">
                {{ block.settings.description }}
              </div>

              <div class="mySwiper-{{ block.id }} swiper">
                <div class="swiper-wrapper">
                  {%- paginate block.settings.metaobject.clip_arts.value by 100 -%}
                    {%- for i in (1..14) -%}
                      {%- for clip_art in block.settings.metaobject.clip_arts.value -%}
                        <div class="grid__item swiper-slide">
                          <div class="grid__item-media">
                            <img src="{{ clip_art.image | img_url: 'master' }}" width="{{ clip_art.image.width }}" height="{{ clip_art.image.height }}">
                          </div>
                          <div class="grid__item-content center">
                            <h4 class="es-font-h5">{{ clip_art.title }}</h4>
                            <div class="grid__item-text">{{ clip_art.text }}</div>
                          </div>
                        </div>
                      {%- endfor -%}
                    {%- endfor -%}
                  {%- endpaginate -%}
                </div>
                <div class="swiper-navigation">
                  <div class="swiper-button-prev" style="--swiper-navigation-size: 12px;">
                    {%- render 'es-arrow-right-1' -%}
                  </div>
                  <div class="swiper-pagination"></div>
                  <div class="swiper-button-next" style="--swiper-navigation-size: 12px;">
                    {%- render 'es-arrow-right-1' -%}
                  </div>
                </div>
              </div>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

<script>
  const initESSlider = element => {
    const sw = new Swiper(element, {
      slidesPerView: 4,
      slidesPerGroup: 4,
      grid: {
        rows: 8,
      },
      spaceBetween: 10,
      navigation: {
        nextEl: element?.querySelector('.swiper-button-next'),
        prevEl: element?.querySelector('.swiper-button-prev'),
      },
      pagination: {
        el: element?.querySelector('.swiper-pagination'),
        clickable: true,
        renderBullet: (index, className) => {
          return '<span class="' + className + '">' + (index + 1) + '</span>';
        },
      },
      breakpoints: {
        0: {
          slidesPerView: 2,
          slidesPerGroup: 2,
          grid: {
            rows: 8,
          },
        },
        769: {
          slidesPerView: 4,
          slidesPerGroup: 4,
          grid: {
            rows: 8,
          },
        },
      },
    });
  }

  document.addEventListener("DOMContentLoaded", () => {
    {%- for block in section.blocks -%}
      initESSlider(document.querySelector(".mySwiper-{{ block.id }}"));
    {%- endfor -%}

    var libraryItems = document.querySelectorAll('.library--item');

    document.querySelectorAll('[name="galleryCategory"]')?.forEach(input => {
      input.addEventListener("change", function () {
        libraryItems.forEach(item => {
          item.classList.add("hidden");
        });

        document.querySelector(`${this.value}`)?.classList.remove('hidden');
      });
    });
  })
</script>

{% schema %}
{
  "name": "ES Library",
  "tag": "section",
  "class": "section es-library",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Tab settings"
    },
    {
      "type": "checkbox",
      "id": "tab_section",
      "label": "Tab Section",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide_section",
      "label": "Hide section?",
      "default": false
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "Custom ID",
      "default": "tabColorList"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.collapsible_content.settings.heading.label",
      "default": "t:sections.collapsible_content.settings.heading.default"
    },
    {
      "type": "metaobject",
      "id": "galleries",
      "label": "Gallery",
      "metaobject_type": "galleries"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.collapsible_content.settings.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:sections.collapsible_content.settings.layout_header.content"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.collapsible_content.settings.layout.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.collapsible_content.settings.layout.options__1.label"
        },
        {
          "value": "row",
          "label": "t:sections.collapsible_content.settings.layout.options__2.label"
        },
        {
          "value": "section",
          "label": "t:sections.collapsible_content.settings.layout.options__3.label"
        }
      ],
      "default": "none"
    },
    {
      "type": "color_scheme",
      "id": "container_color_scheme",
      "label": "t:sections.collapsible_content.settings.container_color_scheme.label",
      "default": "scheme-2"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.collapsible_content.settings.section_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "library",
      "name": "Library",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "metaobject",
          "id": "metaobject",
          "label": "Metaobject",
          "metaobject_type": "clip_art_library"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "ES Library"
    }
  ]
}
{% endschema %}
