<div class="ui-contact-middle-container">
  <div class="ui-contact-middle-left">
    {%- for block in section.blocks -%}
      {% if block.settings.ui_middle_left_header != blank %}
        <h1>{{ block.settings.ui_middle_left_header }}</h1>
      {% endif %}
      {% if block.settings.ui_middle_left_state == true %}
        <div class="ui-both-red-underline"></div>
      {% endif %}
      {% if block.settings.ui_middle_left_body != blank %}
        <div class="ui-middle-left-body">
          {{ block.settings.ui_middle_left_body }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="ui-contact-middle-right">
    {%- for block in section.blocks -%}
      {% if block.settings.ui_middle_right_header != blank %}
        <h1>{{ block.settings.ui_middle_right_header }}</h1>
      {% endif %}
      {% if block.settings.ui_middle_right_state == true %}
        <div class="ui-both-red-underline"></div>
      {% endif %}
      {% if block.settings.ui_middle_right_body != blank %}
        <div class="ui-middle-right-body">
          {{ block.settings.ui_middle_right_body }}
        </div>
      {% endif %}
    {% endfor %}
    <div class="ui-contact-image">
      {%- for block in section.blocks -%}
        {% if block.type == 'ui_image_text' %}
          <div>
            <div><img src="{{ block.settings.ui_text_image | img_url: "20px" }}" alt="" width="" height=""></div>
          </div>
          <div>
            {{ block.settings.ui_image_text }}
          </div>
        {% endif %}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "ui contact us middle",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "ui-contact-middle_left",
      "name": "ui_contact_middle_left",
      "settings": [
        {
          "type": "text",
          "id": "ui_middle_left_header",
          "label": "ui_middle_left_header"
        },
        {
          "type": "checkbox",
          "id": "ui_middle_left_state",
          "label": "ui_middle_left_state"
        },
        {
          "type": "richtext",
          "id": "ui_middle_left_body",
          "label": "ui_middle_left_body"
        }
      ]
    },
    {
      "type": "ui-contact-middle_right",
      "name": "ui_contact_middle_right",
      "settings": [
        {
          "type": "text",
          "id": "ui_middle_right_header",
          "label": "ui_middle_right_header"
        },
        {
          "type": "checkbox",
          "id": "ui_middle_right_state",
          "label": "ui_middle_right_state"
        },
        {
          "type": "richtext",
          "id": "ui_middle_right_body",
          "label": "ui_middle_right_body"
        }
      ]
    },
    {
      "type": "ui_image_text",
      "name": "ui_image_text",
      "settings": [
        {
          "type": "image_picker",
          "id": "ui_text_image",
          "label": "ui_text_image"
        },
        {
          "type": "richtext",
          "id": "ui_image_text",
          "label": "ui_image_text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "ui contact us middle"
    }
  ]
}
{% endschema %}
